$main-header-color: #8a1e1e;
$text-color: #151414;
$text-size: 16px;
$border-width: 1px;
$border-color: #cccccc;

body {
    background-image: url("https://media1.popsugar-assets.com/files/thumbor/MIpq11DuDE1CgyWVL3RygNqBcYM/fit-in/2048xorig/filters:format_auto-!!-:strip_icc-!!-/2019/09/18/965/n/1922794/52f68e7c1a92aae4_books_2/i/Hogwarts-Library-Book-Covers-Wallpaper.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-shrink: 0;
  }

header {
  text-align: center;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
}

.main-header {
  color: $main-header-color;
}

main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.book {
  width: 30%;
  margin-bottom: 20px;
  border: $border-width solid $border-color;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);

}

.book-info {
  text-align: center;

}

.book-info h2 {
  color: $text-color;
  font-size: $text-size;
}

.book-info p {
  color: $text-color;
  font-size: $text-size;
}

.book-info a {
  color: $text-color;
  font-size: $text-size;
  text-decoration: none;
}

.book-image {
  text-align: center;
}
.small-image {
    width: 175px;
    height: 200px;
  }

footer {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  text-align: center;
}

footer a {
  margin: 0 10px;
}
